* {
  margin: 0;
  box-sizing: border-box;
}

/* body {
  overflow: hidden;
} */

img,
video {
  max-width: 100%;
  height: auto;
  /* object-fit: cover; */
}

/* TYPOGRAFI */

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.03rem;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  color: #3c4e3a;
  margin-bottom: 0.3rem;
  letter-spacing: 0.03rem;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 0.98rem;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-top: 1rem;
}

p,
.cv_tekst1 p,
.cv_tekst2 li {
  font-family: "EB Garamond", serif;
  font-size: 1.1rem;
  color: #3c4e3a;
  max-width: 65ch;
  line-height: 1.3;
}

.cv_tekst2 p {
  line-height: 1.5;
}

.cv_tekst2 .fritid {
  line-height: 1.3;
}

.p_pf {
  margin-bottom: 20px;
}

.button {
  font-size: 1rem;
}

a {
  text-decoration: none;
  letter-spacing: 0.03rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
}

a:hover {
  color: #3c4e3a;
}

figcaption {
  font-size: 0.9rem;
  font-style: italic;
  text-align: center;
}

.forside_button:hover,
.button:hover {
  background-color: #5b7e57;
  color: white;
}
