/* ------- Menu ------- */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-green);
  padding: 1.5rem;

  /* Tilføjet flex-wrap, så "Luk" forbliver på "Menu" plads */
  flex-wrap: wrap;
}

.main-menu ul {
  display: flex;
  gap: 5rem;
  list-style: none;
  margin-right: 5rem;
}

/* ------- Burgermenu-knap ------- */
.toggle-btn {
  font-family: "Oswald", sans-serif;
  background: transparent;
  color: white;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;

  display: none; /* Skjul knappen som standard */
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block; /* Vis knappen, når viewporten maksimalt er 600px */
  }

  .main-menu {
    /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
    display: contents;

    /* Rykker menu-punkterne til højre */
    text-align: right;
  }

  .main-menu ul {
    display: none; /* Fjern menu-listen som standard */
    gap: 1rem;
    margin-right: 0;
  }

  .main-menu.shown ul {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    border-top: 1px solid #3c4e3a;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}

/* ------- Forside/splash-billede (mobil) ------- */
.splash {
  background-image: url(img/portfolio_splash.webp);
  width: 100%;
  height: 100vh;
  background-size: 400%;
  background-position: 68% 0%;
}

.col_tekst {
  display: grid;
  justify-content: center;
  padding-top: 7rem;
  text-align: center;
}

.col_tekst h1 {
  font-size: 4rem;
  color: white;
}
.col_tekst h2 {
  font-size: 2rem;
  color: white;
  font-weight: 300;
}

.col_tekst .button {
  margin-top: 2.3rem;
}

/* ------- Overskrift-banner ------- */
.overskrift {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--light-green);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1.5rem;
}

/* ------- Mobil - andet ------- */
.portfolio_tema3,
.portfolio_tema5,
.portfolio_om_mig,
.section_gray,
.section_2 {
  background-color: #f4f4f4;
}

.section_gray figure,
.section_white figure {
  padding-block: 1rem;
}

.section_1,
.section_2,
.section_white,
.section_gray {
  display: grid;
  justify-content: center;
  padding: 2rem;
}

.container_portfolio section {
  padding: 2.5rem;
}

.portraet_2 {
  margin-top: 1rem;
}

.p_pf {
  margin-bottom: 1.5rem;
}

@media (min-width: 600px) {
  /* ------- Forside/splash-billede ------- */
  .splash {
    background-size: 331%;
    background-position: 64% 0%;
  }

  .grid_splash {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .col_tekst {
    display: grid;
    grid-row: 2 / span 1;
    padding-top: 0;
  }

  .col_tekst h1 {
    font-size: 5.5rem;
  }

  .col_tekst h2 {
    font-size: 2rem;
  }

  /* ------- Side: Om mig ------- */
  .grid_1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-block: 5rem;
    align-items: center;
    gap: 3rem;
  }

  .grid_2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 1rem;
    gap: 3rem;
  }

  .section_2 .container {
    padding-block: 5rem;
  }

  .portraet_2 {
    order: -1;
  }

  /* ------- Generel grid på tema-sider ------- */
  .tema_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;
  }

  .tekst_order {
    order: -1;
  }
}

@media (min-width: 800px) {
  /* ------- Side: Portfolio ------- */
  .container_portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container_portfolio section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 2rem;
    gap: 30px;
    align-items: center;
  }

  .portfolio_tema3,
  .portfolio_tema4,
  .portfolio_om_mig {
    background-color: #f4f4f4;
  }

  .portfolio_tema2,
  .portfolio_tema5 {
    background-color: white;
  }

  .tekst_pf {
    order: -1;
  }
}

@media (min-width: 940px) {
  .splash {
    width: 100%;
    height: 100vh;
    background-size: 145%;
    background-position: 60% 21%;
  }

  .grid_splash {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .col_tekst {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    padding-top: 0;
    padding-left: 15rem;
  }

  .col_tekst h1 {
    font-size: 5.5rem;
  }

  .col_tekst h2 {
    font-size: 2rem;
  }
}
