.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5b7e57;
  padding: 1.5rem;

  /* Tilføjet flex-wrap, så "Luk/X" forbliver på "Menu" plads */
  flex-wrap: wrap;
}

.main-menu ul {
  display: flex;
  gap: 5rem;
  list-style: none;
  margin-right: 5rem;
}

/* burgermenu */
.toggle-btn {
  font-family: "Oswald", sans-serif;
  background: transparent;
  color: white;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;

  display: none; /* Skjul knappen som standard */
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block; /* Vis knappen, når viewporten maksimalt er 600px */
  }

  .main-menu {
    /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
    display: contents;
    text-align: right;
  }

  .main-menu ul {
    display: none; /* Fjern menu-listen som standard */
  }

  .main-menu.shown ul {
    /* Vis menu-listen, når klassen ".shown" er til stede */

    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}

.overskrift {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.5rem;
  background: #83b17c;
  text-align: center;
  color: rgb(255, 255, 255);
}

.button {
  background-color: #7ca577;
  padding: 0.5rem;
}

.portfolio_tema3,
.portfolio_tema5,
.section_2,
.section_html2 {
  background-color: #f4f4f4;
}

.portfolio_tema2,
.portfolio_tema3,
.portfolio_tema4,
.portfolio_tema5 {
  padding: 35px;
}
/* Splashbillede */
.splash {
  background-image: url(img/portfolio_splash.webp);
  width: 100%;
  height: 100vh;
  background-size: 400%;
  background-position: 68% 0%;
}

.col_tekst {
  display: grid;
  justify-content: center;
  padding-top: 7rem;
  text-align: center;
}

.forside_tekst1 {
  font-size: 4rem;
  color: white;
}

.forside_tekst2 {
  /* font-family: "EB Garamond", serif; */
  font-size: 2rem;
  color: white;
  font-weight: 300;
}

.forside_button {
  display: grid;
  justify-content: center;
  background-color: #7ca577;
  padding: 0.5rem;
  margin-top: 2rem;
}

.container {
  max-width: 1000px;
}

.section_1,
.section_2,
.section_html1,
.section_html2 {
  display: grid;
  justify-content: center;
  padding: 2rem;
}

/* .portraet_1 {
  text-align: center;
  width: 50%;

  /* background-size: cover; */
/* aspect-ratio: auto; */

.portraet_1 {
  width: 80%;
}

.portraet_2 {
  width: 50%;
}

@media (min-width: 600px) {
  /* Forside */
  .splash {
    width: 100%;
    height: 100vh;
    background-size: 145%;
    background-position: 60% 21%;
  }

  .grid_splash {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .col_tekst {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    padding-top: 0;
    padding-left: 15rem;
  }

  .forside_tekst1 {
    font-size: 5.5rem;
  }

  .forside_tekst2 {
    font-size: 2rem;
  }

  /* Side: Projekter */
  .container_portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .portfolio_tema2,
  .portfolio_tema3,
  .portfolio_tema4,
  .portfolio_tema5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-block: 48px;
    gap: 30px;
  }

  .portfolio_tema3,
  .portfolio_tema4 {
    background-color: #f4f4f4;
  }

  /* Er der behov for det, når default baggrunden er hvid? */
  .portfolio_tema2,
  .portfolio_tema5 {
    background-color: white;
  }

  .tekst_tema2,
  .tekst_tema3,
  .tekst_tema4,
  .tekst_tema5 {
    order: -1;
  }

  /* Side: Om mig */
  .grid_1,
  .grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .grid_1 {
    padding-block: 5rem;
  }

  .section_2 .container {
    padding-block: 5rem;
  }

  .grid_2 {
    padding-bottom: 5rem;
  }

  /* Side: Tema 2 */
  .tema_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
